*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.inp-box{
    margin-bottom: 20px;
    display: flex;
}

#container{
    transition: all 0.5s ease;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: teal;
    margin-left: 50px;
}

#input{
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-right: 10px;
}

#btn{
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: darkslateblue;
    cursor: pointer;
}

#btn:hover{
    background-color: darkblue;
}

#btn:active{
    transform: scale(0.98);
}